.copyright {
    background: $footerBG;
    

    &-content{
        padding-top: 25px;
    padding-bottom: 25px;
        & *{
            font-size: 14px;
            line-height: 28px;
            color:$grey;
        }
    }
}
